.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.form-new-player {
  margin-top: 20px;
}

.input-send {
  width:200px;
}

.button-create {
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-create a {
  color: #fff;
}

.button-create a:hover {
  color: #fff;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
